@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --logo: hsl(0, 0%, 98%);                            /* logo input-bg-light*/
  --light-bg-overlay: hsl(220, 98%, 61%);             /* bg-overlay-light circle-border-gradient*/
  --dark-bg-overlay-1: hsl(192, 100%, 67%);           /* bg-overlay-dark-1 */
  --dark-bg-overlay-2: hsl(280, 87%, 65%);            /* bg-overlay-dark-2 */
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --dark-input-bg: hsl(235, 24%, 19%);                /* input-bg-dark */
  --circle-border: hsl(234, 11%, 52%);                /* circle-border */
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --body-bg-dark: hsl(235, 21%, 11%);               /* body-bg-dark input-text-light */
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --body-bg-light: hsl(236, 33%, 92%);              /* body-bg-light input-text-dark */
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
}
body{
  min-height: 100vh;
  font-size: 1.125rem;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  width: 100%;
  height: 100%;
  background: var(--body-bg-light);
}
.container-dark{
  width: 100%;
  height: 100%;
  background: var(--body-bg-dark);
}
header{
  height: 12.5rem;
  background: url(./images/bg-mobile-light.jpg) no-repeat, var(--light-bg-overlay);
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 1.5rem;
}
header.dark{
  background: url(./images/bg-mobile-dark.jpg) no-repeat, linear-gradient(to right, var(--dark-bg-overlay-1), var(--dark-bg-overlay-2));
  background-size: 100%;
}
header .logo{
  color: var(--logo);
  font-size: 1.75rem;
  letter-spacing: .5rem;
}
header .toggle-btn{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.toggle-btn img{
  width: 1.25rem;
  height: 1.25rem;
}
main{
  margin-top: -5.75rem;
  padding: 0 1.5rem;
}
main .form,
main .form-dark{
  position: relative;
}
.form__input{
  width: 100%;
  height: 3rem;
  color: var(--body-bg-dark);
  background: var(--logo);
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
  border: none;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  padding-left: 3.5rem;
  caret-color: var(--light-bg-overlay);
}
.form-dark .form__input{
  color: var(--body-bg-light);
  background: var(--dark-input-bg);
}
.form__btn{
  position: absolute;
  left: 1.5rem;
  top: .75rem;
  width: 1.25rem;
  height: 1.25rem;
  background: transparent;
  border: 1px solid var(--circle-border);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.form__btn:hover{
  background: linear-gradient(var(--logo), var(--logo)) padding-box, linear-gradient(135deg, var(--dark-bg-overlay-1), var(--dark-bg-overlay-2)) border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.form-dark .form__btn:hover{
  background: linear-gradient(var(--dark-input-bg), var(--dark-input-bg)) padding-box, linear-gradient(135deg, var(--dark-bg-overlay-1), var(--dark-bg-overlay-2)) border-box;
}